<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Bye . . .</p>

    <div>
        <a href="/register">Go to register page</a>
    </div>
    <div>
        <a href="/login">Go to login page</a>
    </div>
</body>
</html>